* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
}

.mycontainer{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overscroll-behavior-y: scroll;
    height: 100vh;
}

.about{
    background: rgb(75, 147, 255);
    justify-content: center;
    align-items: center;
    color: white;
}

.white_section{
    background: white;
    color: rgb(52, 133, 255);
    justify-content: center;
    padding-top: 5%;
}

.blue_section{
    background: rgb(75, 147, 255);
    color: white;
    justify-content: center;
    padding-top: 5%;
}