* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding-top: 70px;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
}

.vertical-center {
    min-height: 85%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 85vh;
    /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.mycontainer{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overscroll-behavior-y: scroll;
    height: 100vh;
}

.about{
    background: rgb(75, 147, 255);
    justify-content: center;
    align-items: center;
    color: white;
}

.white_section{
    background: white;
    color: rgb(52, 133, 255);
    justify-content: center;
    padding-top: 5%;
}

.blue_section{
    background: rgb(75, 147, 255);
    color: white;
    justify-content: center;
    padding-top: 5%;
}

.nav-bar {
    height: 10vh;
}

.txt-rotate {
    color: white;
    font-weight: 500;
    font-family: "Lucida Console", "Courier New", monospace;
}